<div class="contactIntroWrapper">
    <div class="contactIntroContentWrapper">
        <h1>Contacteer ons</h1>
        <h2>Zodat we samen verder kunnen</h2>
    </div>
</div>
<div class="contactWrapper">
  <div class="contactContentWrapper">
    <div class="contactImage"></div>
    <div class="contactInfo">
      <p>
        <i class="material-icons">email</i>
        <a href="mailto:miguel.verhelle@telenet.be">miguel.verhelle@telenet.be</a>
      </p>
      <p>
        <i class="material-icons">phone_android</i>
        <a href="tel:+32479724258">0479 72 42 58</a>
      </p>
      <ul>
        <li>Miguel Verhelle kijkt er naar uit om nader kennis met jou te maken. </li>
        <li>Hij denkt graag mee en staat je bij met professioneel advies.</li>
        <li>Hij komt zo snel mogelijk langs om je wensen in detail te bespreken. </li>
        <li>Je ontvangt een vrijblijvende en gedetailleerde offerte. </li>
      </ul>
    </div>
  </div>
</div>