@font-face {
    font-family: NexaLight;
    src: url("/assets/fonts/Nexa/Nexa-Light.otf") /* EOT file for IE */
}

@font-face {
    font-family: NexaBold;
    src: url("/assets/fonts/Nexa/Nexa-Bold.otf") /* EOT file for IE */
}

$primary-color: #368a44;
$primary-color-dark: #0b8c34;
$primary-color-medium: #73a649;
$primary-color-light: #b0cc4b;