<div class="workTypesWrapper">
  <div class="workTypesContentWrapper">
    <h1>Wat doen wij</h1>
    <div class="workTypeWrapper">
      <div class="workType">
        <h2>Interieur</h2>
        <ul>
          <li>Schilderwerken</li>
          <li>Behangwerken
            <br/><br/> Naast het klassieke (vlies)behang biedt Miguel Verhelle Schilderwerken ook vernieuwende behangwerken aan zoals
            magneetvlies, muurstickers
          </li>
          <li>Decoratie-technieken
            <br/><br/> Miguel Verhelle Schilderwerken biedt o.a. Aqua Sensa, Diverse Maroc, Diverse Ice als technieken aan
          </li>
        </ul>
      </div>
      <div class="workType">
        <h2>Exterieur</h2>
        <ul>
          <li>Gevelzerken</li>
          <li>Raamkozijnen</li>
        </ul>
      </div>
    </div>
  </div>
</div>