.homeWrapper {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transition: background-image 1.5s ease;
}

.homeContentWrapper {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px 20px;

    p {
        font-size: 0.9em;
        line-height: 1.1em;
        & + p {
            margin-top: 20px;
        }
    }
}

@media (min-width: 768px) {
    .homeWrapper {
        background-position: right;
    }
    .homeContentWrapper {
        padding: 60px;

        * {
            max-width: 600px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            line-height: 1.2em;
        }
    }
}