<div class="homeWrapper" [style.background-image]="'url(' + backgrounds[currentBackground] + ')'">
    <div class="homeContentWrapper">
        <h1>Welkom</h1>
        <h2>Geef kleur aan je woning met Miguel Verhelle Schilderwerken</h2>
        <p>
            Miguel Verhelle neemt je die omslachtige en tijdrovende schilderwerken uit handen. Hierdoor heb jij meer tijd voor andere
            belangrijke bezigheden. Hij brengt jou die mooi geschilderde woning die jij in gedachten had. De hoogstaande
            afwerking bouwt voort op een sterke expertise, een diepgaande kennis en een gedegen ervaring.
        </p>
        <p>
            Kwaliteit staat voor Miguel Verhelle centraal. Hij is pas tevreden als jij dat ook bent. Samen met jou gaat hij steeds op
            zoek naar de beste oplossing. Hij luistert aandachtig naar jouw verwachtingen en vertaalt dit in de kwaliteitsvolle
            producten tegen een eerlijke prijs. Heldere communicatie is voor Miguel Verhelle uiterst belangrijk. <br/>Een schilder
            komt bij een verbouwing veelal als laatste aan de beurt. Miguel Verhelle doet er alles aan om duidelijke afspraken
            te maken en te houden.
        </p>
    </div>
</div>
<app-offer></app-offer>
<app-contact-cta></app-contact-cta>
<app-work-types></app-work-types>