<div class="offerWrapper">
  <div class="offerContentWrapper">
    <h1>Ons aanbod</h1>
    <div class="offerIntro">
      <p>Je kan bij Miguel Verhelle terecht voor alle schilderwerken, interieur of exterieur. <br />Hij kiest hierbij steeds voor een afwerking met producten van bewezen kwaliteit. </p>
      <p>Hij schoolt zich op regelmatige basis bij en beschikt over de nodige contacten en ondersteuning in de sector. </p>
      <p>Hij werkt voornamelijk met de kwaliteitsproducten van Boss Paints.</p>
    </div>
  </div>
</div>